@import '../../mixin.scss';

.wrapper {
    height: 100%;
    width: 100%;
    @include flex(start, start, row, nowrap);

    aside {
        @include flex(start, start, column, nowrap);

        >* {
            margin: 21px 26px;
        }
    }

    .main {
        height: 100%;
        @include flex(start, start, column, nowrap);
        border-inline: 1px solid rgb(30, 45, 61);


        span {
            @include flex(center, start, row, nowrap);
            gap: 11px;
            border-bottom: 1px solid rgb(30, 45, 61);
            padding: 17px 15px;
            padding-right: 129.5px;

            &:nth-of-type(2) {
                width: -webkit-fill-available;
                border-top: 1px solid rgb(30, 45, 61);
                ;
            }
        }
    }

    .separator {
        div{
            width: 18.5px;
            height: 7px;
            margin: 5px 3px;
            background: rgb(96, 123, 150);
        }

        border-top: 1px solid rgb(30, 45, 61);
        
    }
}