@import '../../../../../mixin.scss';

.parent {
    @include flex(start, start, row, nowrap);
    padding: 18px 38px;
    gap: 40px;
    width: 100%;

    >p {
        @include font(rgb(96, 123, 150), Fira Code, 18px, 450, 180%);

        &:first-of-type {
            text-wrap: wrap;
            width: min-content;
        }

        &:nth-of-type(2) {
            width: 50%;
        }
    }
}